* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body{
  height: 800px;
  width: 800px;
  margin: 10px;
  background-color: rgb(165, 127, 255);
}
.grid{
  display: grid;
  grid-template-columns: (4,1fr);
  grid-template-rows: (4,1fr);
  border: .5 rem solid black;
}
.grid-items{
  border: .1 rem solid grey;
  font-size: 2 rem;
  background-color:white ;

}
#box3, #box7, #box10, #box11, #box12, #box15{
  border-left: .5rem solid black;
}
#box1, #box2, #box4, #box5, #box8, #box9, #box10, #box11{
  border-bottom: .5rem solid black;
}
.prompt{
  position: absolute;
  top: 0%;
  left: 0%;
}
.special{border: none;
font-size: 2 rem;}
.answer{
  height: 50%;
  width: 50%;
  text-align: center;

}
 @media only screen and (min-width: 475px) {
  #html {
  font-size: 16px
  }
 }
  

